/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-regular - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/jost-v14-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/jost-v14-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --site-text-color: #ffffff;
  --site-font-weight: 400;

  --main-font-family-1: "Roboto", sans-serif;
  --main-font-family-2: "Jost", sans-serif;
  --main-font-size-1: 1.6rem;
  --main-font-size-2: 1.8rem;
  --main-text-color: #56593d;
  --main-background-color: #ffffef;
  --main-border: 1px solid #56593d;

  --footer-background-color: #717353;
  --footer-text-color: #56593d;
}

*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(133, 133, 133);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.664);
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: flex;
}
html {
  font-size: 62.5%;
  height: 100vh;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.container {
  width: 100%;
  max-width: 1360px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  background-color: var(--main-background-color);
}
.background {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #ffffef;
  height: 30px;
}
.header-container {
  display: flex;
  align-items: center;
}

.sitenav__list {
  display: flex;
  margin-right: 13.4rem;
}

.sitenav__item:not(:last-child) {
  margin-right: 3.8rem;
}
.select {
  text-transform: uppercase;
  letter-spacing: 1.58;
  font-weight: var(--site-font-weight);
  font-size: var(--main-font-size-1);
  color: var(--main-text-color);
  border: none;
  outline: none;
  background-color: transparent;
}
.sitenav__link {
  text-transform: uppercase;
  letter-spacing: 1.58;
  font-weight: var(--site-font-weight);
  font-size: var(--main-font-size-1);
  color: var(--main-text-color);
}
.header-link {
  margin-right: 44rem;
}

.header-booton__list {
  display: flex;
}
.header-botton__link {
  position: relative;
}
.header-booton__item:not(:last-child) {
  margin-right: 2rem;
}
.botton_nomber {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffef;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* MAIN */
.main {
  flex-grow: 1;
}
.hero {
  background-color: var(--main-background-color);
  margin-top: 2.4rem;
}
.hero__container {
  /* place-items: center; */
  background-image: url("../images/jpg/shaftoli.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1328px;
  height: 700px;
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}
.hero__title {
  margin-top: 450px;
  font-size: 45px;
  font-weight: var(--site-font-weight);

  color: var(--main-text-color);

  margin-bottom: 2rem;
}
.hero__primary {
  font-size: var(--main-font-size-2);
  font-weight: var(--site-font-weight);
  line-height: 21.6;
  color: var(--main-text-color);
  letter-spacing: 1.8px;
  width: 179px;
  height: 22px;
  font-size: var(--main-font-size-2);
  line-height: 1.2;
  letter-spacing: 1.8px;
  margin-bottom: 1rem;
}
.hero__link {
  font-size: var(--main-font-size-1);
  line-height: 119%;
  color: var(--site-text-color);
  letter-spacing: 1.58px;
  width: 104px;
  height: 23px;
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 17px;
  padding-left: 25px;
  background-color: var(--main-text-color);
  border: var(--main-border);
  transition: 0.3s ease;
}
.hero__link:hover {
  background-color: transparent;
  color: var(--main-text-color);
  border: var(--main-border);
}

/* HAPPY */
.happy {
  background-color: var(--main-background-color);
}
.happy__container {
  padding: 8.7rem 4rem 8.8rem;
  text-align: center;
}

.happy__desription {
  font-weight: var(--site-font-weight);
  font-size: 57px;
  color: var(--main-text-color);
  width: 1194px;
  margin-left: auto;
  margin-right: auto;
}
.happy__link--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.happy__link {
  font-weight: var(--site-font-weight);
  font-size: var(--main-font-size-1);
  line-height: 25.6px;
  color: var(--main-text-color);
  border-bottom: 1px solid #000000;
}
/* collection */
.collection {
  background-color: var(--main-background-color);
}
.collection__container {
  padding: 6.3rem 0 8.1rem;
  margin-bottom: 2.3rem;
  color: var(--main-text-color);
  text-align: center;
}
.collection_title {
  font-weight: var(--site-font-weight);
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 8rem;
  color: var(--main-text-color);
}
.collection__list {
  display: flex;
  gap: 32px;
}

.collection__img {
  margin-bottom: 1.5rem;
}
.collection__description {
  font-size: var(--main-font-size-1);
}
.collection__primary {
  font-size: var(--main-font-size-1);
  letter-spacing: 1.62;
}
/* SPACE */
.space {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.space__container {
  background-image: url("../images/png/tarelka.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  place-items: center;
  width: 1328px;
  height: 700px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 56px;
}
.space__description {
  /* padding-top: 6.2rem; */
  font-weight: var(--site-font-weight);
  font-size: 17px;
  line-height: 8px;
  align-items: center;
  color: var(--main-text-color);
}
.space__title {
  font-weight: var(--site-font-weight);
  line-height: 6rem;
  font-size: 50px;
  align-items: center;
  color: var(--main-text-color);
  margin-left: 88px;
  width: 1093px;
  height: 121px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* story */
.story {
  margin-bottom: 24px;
  background-color: var(--main-background-color);
}
.story__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 32px;
}

.story__info {
  margin-right: 32px;
}

.story__title--wrapper {
  padding-bottom: 226px;
  width: 521.31px;
  height: 391px;
}
.story__title {
  font-weight: var(--site-font-weight);
  font-size: 29px;
  line-height: 38.88px;
  text-align: center;
  align-items: center;
  color: var(--main-text-color);
}
.main__diveder {
  color: #717353;
  width: 40px;
  height: 1px;
}
.story__description {
  font-family: var(--main-font-family-2);
  font-weight: var(--site-font-weight);
  font-size: 20px;
  line-height: 32.4px;
  align-items: center;
  color: var(--main-text-color);
}
/* tabel */
.table {
  background-color: var(--main-background-color);
}
.table__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 32px;
}
.table__title--wrapper {
  width: 521.31px;
  height: 391px;
}
.table__info {
  margin-left: 31px;
}
/* Subscribe */
.subscribe {
  background-color: var(--main-background-color);
  margin-bottom: 40px;
}
.subscribe__container {
  flex-direction: column;
  display: flex;
  align-items: center;
  /* row-gap: 16px; */
}
.subscribe__title {
  font-weight: var(--site-font-weight);
  font-size: 28px;
  text-align: center;
  color: var(--main-text-color);
}
.subscribe__description {
  font-weight: var(--site-font-weight);
  font-size: 17px;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 48px;
}
/* .subscribe__btn--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe__input {
  border: none;
  width: 340px;
  outline: none;
  background-color: transparent;
  padding: 3px 10px;
  border-bottom: 1px solid #000;
}

.subscribe__btn {
  color: var(--site-text-color);
  background-color: var(--main-text-color);
  padding: 0 25px 1px;
  margin-left: 12px;
}
/* moments */
.moments {
  background-color: var(--main-background-color);
}
.moments__container {
  padding: 64px 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 128px;
}
.moments__title {
  font-weight: var(--site-font-weight);
  font-size: 25px;
  color: var(--main-text-color);
  text-align: center;
  margin-top: 39px;
}
.moments__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* FOOTER */
.footer {
  background-color: var(--footer-background-color);
  padding: 64px 32px 96.8px;
  color: var(--site-text-color);
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  gap: 12.4rem;
}
.footer__title {
  font-weight: var(--site-font-weight);
  font-size: 15px;
  line-height: 25.2px;
  color: var(--site-text-color);
}
.footer__divider {
  margin-left: 0;
  margin-bottom: 2.5rem;
  color: var(--site-text-color);
  width: 40px;
  height: 1px;
}
.footer__description {
  font-weight: var(--site-font-weight);
  font-size: var(--main-font-size-1);
  line-height: 25.2px;
  color: var(--site-text-color);
}
.footer-shop__title {
  margin-bottom: 1.7rem;
  text-transform: uppercase;
}
.footer__select {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--site-text-color);
  border: none;
  outline: none;
  background-color: transparent;
}

.footer__item:not(":last-child") {
  margin-bottom: 16px;
}
.footer__link {
  line-height: 25.2px;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--site-text-color);
}
.footer-icon__list {
  display: flex;
  gap: 19px;
}
.footer__item {
  width: 25.6rem;
}
.footer-icon__link:hover path {
  fill: #ffffef;
}
